/* body {
  background: url("./image/astro.jpg") center no-repeat fixed;
  background-size: 1000px 500px;
  overflow: hidden;
  background: cover;
}

@media only screen and (max-width: 800px) {
  body {
    background-size: 800px 400px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-size: 600px 300px;
  }
}

.navlinks {
  text-decoration: none;
  list-style: none;
}

.project {
  background: url("./image/astro1.png") center no-repeat fixed;
  background: cover;
} */

.navlinks {
  text-decoration: none;
  list-style: none;
}
